<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/AdminDashboard/css/style.css" />
    <script src="~/AdminDashboard/js/script.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
