@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" style="margin-left: 250px;">
<h1>Welcome to the Admin Dashboard</h1>
<p>Here, you can access all management features and view analytics for the business.</p>
</div>