@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" style="margin-left: 250px;">
<h1>Quote Generator</h1>
<form>
    <div class="form-group">
        <label for="serviceSelection">Select Service:</label>
        <select class="form-control" id="serviceSelection">
            <option>Service 1</option>
            <option>Service 2</option>
            <option>Service 3</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Generate Quote</button>
</form>

</div>
